body {
	/*margin-left: 20px;*/
	background: #032329;
}


/*Navbar style*/

.navbar-custom {
	background-color: transparent;
	/*background-color: #353a40;*/
	margin-top: 5%;
	border-radius: 0;
	border-top: 2px solid #0f446a;
	border-bottom: 2px solid #0f446a;
	box-shadow: none;
}

.navbar-custom .navbar-header .navbar-brand,
.navbar-custom .navbar-nav>li>a {
	color: #acd13f;
	font-family: 'Quicksand';
	font-size: 12px;
	font-weight: bolder;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.navbar-custom .navbar-header .navbar-brand:hover {
	color: #96ffe8;
}

.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus {
	background: #0f446a;
	color: #a3efaf;
	cursor: pointer;
}

.navbar-custom .navbar-nav>.active>a,
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus {
	background: #0f446a;
	color: #a3efaf;
}

.navbar-custom .navbar-toggle {
	border-color: #82B9B8;
	border-radius: 0;
}

.navbar-custom .navbar-toggle .icon-bar {
	background-color: #96ffe8;
}


/* Welcome splash style */

#welcome .well-custom {
	background: transparent;
}

#welcome .well-custom>h3 {
	color: #d78548;
	letter-spacing: 0.5px;
	font-family: 'Quicksand';
}

#welcome .well-custom > h5{
	color:#5a5959;
	font-size: 17px;
	line-height: 25px;
	font-family: 'Quicksand';
}

.imgContainer{
	margin:auto;
	width:80%;
}

#welcome img{
		width: 100%;
	}


/*Här börjar omoss sidan*/

#aboutus .well-custom {
	background: transparent;
	width: 50%;
	margin:auto;
}

#aboutus .well-custom h2 {
	color: #d78548;
	letter-spacing: 0.5px;
	font-family: 'Quicksand';
}

#aboutus .well-custom p {
	letter-spacing: 0.5px;
	font-size: 17px;
	line-height: 25px;
	font-family: 'Quicksand';
}


/*Här börjar CSS för Yatzy formuläret*/

#scoretabel td {
	font-family: 'Quicksand';
	font-size: 15px;
	color: lightgray;
}

#scoretabel th {
	font-family: 'Quicksand';
	font-size: 17px;
}

.possClass {
	text-align: left;
}

.scoreClass {
	font-weight: bold;
	font-size: 12pt;
	text-align: center;
}

#scoretabel th.greyField,#scoretabel td.greyField {
	background-color: #032329;
	color: #acd13f;
}

.customTd:hover {
	background: pink;
	cursor: pointer:;
}

.customTd {
	width: 15%;
}

#yatzyFormContainer {
	background-color: #353a40;
}


/*Här slutar CSS för Yatzy formuläret*/

#diceHolder {
	height: 89.6px;
	display: flex;
	justify-content: space-around;
	background-color: #353a40;
}

#diceHolder .active {
	border-color: #1ff973;
	color: #96ffe8;
	box-shadow: 0 0 14px 2px #1aeaa8;
	background-color: #0b3444;
}

#diceHolder img {
	width: 50px;
	height: 50px;
}

#diceHolder img:hover {
	width: 50px;
	height: 50px;
	background-color: #150f28;
	cursor: pointer;
}

.btn{
	background: none;
    border-radius: 0;
    color: #82b9b8;
    font-size: 13px;
    letter-spacing: 1px;
    border: 1px #82b9b8 solid;
}

.btn:hover{
	background: none;
    border-radius: 0;
    color:#d78548;
    letter-spacing: 1px;
    border: 1px #d78548 solid;
}

.btn:focus{
	background: none;
    border-radius: 0;
    color: #d78548;
    letter-spacing: 1px;
    border: 1px #d78548 solid;
    outline:none;
}

.btn-info:focus{
	background: none;
    border-radius: 0;
    color: #d78548;
    letter-spacing: 1px;
    border: 1px #d78548 solid;
    outline:none;
}

.btn:active{
background: none;
    border-radius: 0;
    color: #d78548;
    letter-spacing: 1px;
    border: 1px #d78548 solid;
    outline:none;
}
/* CSS för submitform*/

.submitButton {
	background-color: #67bdba;
	border-radius: 0px;
}

.form-control {
	font-style: italic;
	color: #cccccc;
}


/* Början för CSS vinnar popup*/

.popup {
	position: absolute;
	width: 300px;
	margin: 20% 0 0 40%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px 0 20px 0;
	cursor: pointer;
	transform-style: preserve-3d;
	background: -webkit-linear-gradient(top left, #acd13f 50%, #82c98d 50%);
	background: -moz-linear-gradient(top left, #acd13f 50%, #82c98d 50%);
	background: -ms-linear-gradient(top left, #acd13f 50%, #82c98d 50%);
	background: -o-linear-gradient(top left, #acd13f 50%, #82c98d 50%);
	background: linear-gradient(top left, #acd13f 50%, #82c98d 50%);
}

.popup-content {
	background: #3f3f40;
	box-sizing: border-box;
	border-radius: 500px 0 10px 0;
}

.popup-text {
	color: #dfff43;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 100;
	text-align: center;
	bottom: 30px;
	transform: translateZ(15px);
}

.popup-text b {
	color: coral;
	font-weight: 300;
}

.modal-title {
	font-family: 'Quicksand';
}

.modal-button {
	background-color: #82c98d;
}

.modal-button:hover {
	background-color: #5d8db2;
}


/* Slutet för CSS vinnar popup*/

/* Början för CSS regler popup*/
.popup2 {
    width:50%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
    background:    -moz-linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
    background:     -ms-linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
    background:      -o-linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
    background:         linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
}

.popup-content2 {
    background: #3f3f40;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.popup-text2 {
    color: #dfff43;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 100;
    text-align: center;
    bottom:30px;
    transform: translateZ(15px);
}

.popup-text2 b {
    color: coral;
    font-weight: 300;
}

.modal-title2{
	font-family: 'Quicksand';
	color: coral;
	text-align: center;
}
/* Slutet för CSS regler popup*/

/* Början för CSS highscore popup*/
.popup3 {
    width:30%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
    background:    -moz-linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
    background:     -ms-linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
    background:      -o-linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
    background:         linear-gradient(top left, #acd13f 50%,  #82c98d 50%);
}

.popup-content3 {
    background: #3f3f40;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.popup-text3 {
    color: #dfff43;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 100;
    bottom:30px;
    transform: translateZ(15px);
}

.popup-text3 b {
    color: coral;
    font-weight: 300;
}

.modal-title3{
	font-family: 'Quicksand';
	color: coral;
	text-align: center;
}

#highscoreTable{
	margin: auto;
}
#highscoreTable th,td{
 padding-right: 5px;
	text-align: center;
	}


/* Slutet för CSS highscore popup*/

/* CSS för inputField*/

.form-control {
	width: 180px;
}

#member {
	width: 20px;
}

#field1,#fieldOnline {
	background: rgba(255, 255, 255, .1);
	border: 0;
	border-radius: 4px;
	font-size: 14px;
	margin: 0;
	outline: 0;
	height: 24px;
	padding: 4px;
	width: 130px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.2);
	color: #8a97a0;
	border: 1px #82b9b8  solid;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 8px;
}



.addField,
.removeField {
	margin-left: 5px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 18px;
	top: 5px;
}

.addField {
	color: #3fbdc5;
}

.removeField {
	color: #d7804a;
}

.addField:hover {
	color: darkgrey;
}

.removeField:hover {
	color: darkgrey;
}

#child {
	border: 1px grey solid;
}

.containerInput {
	margin-top: 50px;
	background: linear-gradient( #353a40,#22262b);
    border: none;
}

.header1 {
	margin-top: 0px;
	color: #acd13f;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Quicksand';
}

.header2 {
	color: #acd13f;
	font-weight: bold;
	font-size: 19px;
	font-family: 'Quicksand';
}

.paragraph {
	color: #acd13f;
	margin-top: -8px;
	font-size: 15px;
	font-family: 'Quicksand';
}

/* Online*/
.paragraph3{
	color: #032329;
    font-size: 15px;
    margin-top: -8px;
    font-family: 'Quicksand';
}

.header1Online{
	margin-top: 0px;
	color:#032329;
	font-weight: bold;
    font-size: 22px;
    font-family: 'Quicksand';
}

.playerName{
	color:#032329;
	font-family: 'Quicksand';
	margin-bottom: 0px;
	font-weight: bold;
}

.containerInput2{
	background: linear-gradient(#b7cc7a, #104f76);
    border: none;


}
/*CSS för startsida*/

.navbar-brand {
	padding: 0;
}

.navbar-brand>img {
	height: 80%;
	padding-top: 10px;
	width: auto;
}
.parWarning
{
    background: none;
    border: 3px darkred solid;
    font-family: 'Quicksand'
    
}


/* CSS för aktiv spelare*/

.activePlayersList {	
	list-style-type: none;
}

.activePlayerForm{
	    box-shadow:inset 0 0 5px 2px #f7ef42;
}

#activePlayers .activePlayer{
	color: #acd13f;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 0.5em #8F7;

}

.playerList {
	font-family: 'Quicksand';
	font-size: 14px;
}

#numberOfRollsContainer .strongForThrows{
	color: #d78548;
    font-size: 20px;
  
}

#numberOfRollsContainer p{
	color: #676e75;
    font-weight: bold;
    font-size: 14px;
    font-family: 'quicksand';
    margin-bottom: -22px;
}
#numberOfRollsContainer {
	margin-top: -10px;
	margin-left: 40px;
}
