body{
	/*margin-left: 20px;*/
	background:black;
}

/*Navbar style*/

.navbar-custom{
	background-color: transparent;
	/*background-color: #353a40;*/
	margin-top: 5%;
	border-radius:0;
	border:none;
	border-top: 2px solid #82B9B8;
	border-bottom: 2px solid #82B9B8;
}

.navbar-custom .navbar-header .navbar-brand, .navbar-custom .navbar-nav > li > a{
	color: #82B9B8;
}

.navbar-custom .navbar-header .navbar-brand:hover{
	color: #96ffe8;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus
{
	background:#150f28;
	color: #96ffe8;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus
{
  background:#150f28;
	color: #96ffe8;
}

.navbar-custom .navbar-toggle {
	border-color:#82B9B8;
	border-radius: 0;
}

.navbar-custom .navbar-toggle .icon-bar {
 background-color: #96ffe8;
}

/* Welcome splash style */
#welcome .well-custom{
	background: transparent;
}

#welcome .well-custom > h3{
	color:#82B9B8;
	}

/*Här börjar CSS för Yatzy formuläret*/
td {
	font-family: arial; 
	font-size: 10px;
}
.possClass {
	text-align:center;
}
.scoreClass {
	font-weight: bold;
	font-size: 12pt;
	text-align:center;
}
#greyField {
	background-color: #f2f2f2;
}
#tdSpecialField {
	font-weight: bold;
	color: black;
}
#tdsmallerField {
	width: 20%;
}
/*Här slutar CSS för Yatzy formuläret*/

#diceHolder{
	height:110px;
	padding-top: 22px;
	padding-bottom: 23px;
	display:flex;
	justify-content: space-around;
	background-color: #353a40;
}



#diceHolder .active{
	border-color: #1ff973;
	color: #96ffe8;
	box-shadow: 0 0 14px 2px #1aeaa8;
}

#diceHolder img{
	width:50px;
	height:50px;
}

#diceHolder img:hover{
	width:50px;
	height:50px;
	background-color: #150f28;
	cursor:pointer;
}

/* CSS för submitform*/

.submitButton{
	background-color:#67bdba;
	border-radius: 0px;
}

.form-control{
	font-style: italic;
    color: #cccccc;
}

/* Början för CSS vinnar popup*/
.popup {
    position: absolute;
    width:300px;
    margin: 20% 0 0 40%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left, white 50%, coral 50%);
    background:    -moz-linear-gradient(top left, white 50%, coral 50%);
    background:     -ms-linear-gradient(top left, white 50%, coral 50%);
    background:      -o-linear-gradient(top left, white 50%, coral 50%);
    background:         linear-gradient(top left, white 50%, coral 50%);
}

.popup-content {
    background: #444;
    box-sizing: border-box;
    border-radius: 500px 0 10px 0;
}

.popup-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    text-align: center;
    bottom:30px;
    transform: translateZ(15px);
}

.popup-text b {
    color: coral;
    font-weight: 300;
}
/* Slutet för CSS vinnar popup*/


/* CSS för inputField*/
.form-control{
	width:180px;
}

#member{
	width: 20px;
}

#field1{

    background: rgba(255,255,255,.1);
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    margin: 0;
    outline: 0;
    height:24px;
    padding: 4px;
    width: 130px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 8px;
}

.addField, .removeField{
	margin-left: 5px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 18px;
	top:5px;
}

.addField{
	color:#3fbdc5;
}

.removeField{
	color:#ce0f0f;
}

.addField:hover{
	color:darkgrey;
}

.removeField:hover{
	color:darkgrey;
}
#child{
	border: 1px grey solid;
}
