
/*Här börjar CSS för Yatzy formuläret*/
td {
	font-family: arial; 
	font-size: 10px;
}
.possClass {
	text-align:center;
}
.scoreClass {
	font-weight: bold;
	font-size: 12pt;
	text-align:center;
}
#greyField {
	background-color: #f2f2f2;
}
#tdSpecialField {
	font-weight: bold;
	color: black;
}
#tdsmallerField {
	width: 20%;
}
/*Här slutar CSS för Yatzy formuläret*/

#diceHolder{
	display:flex;
	justify-content: space-around;
	background-color: #353a40;
}

#diceHolder p{
  font-size: 100px;
  margin-bottom:0;
  color: #8cccca;

}



