function aboutUs(){return `
<div id="aboutus">
	<div class="well-sm well-custom">
		<h2 class="text-center">Om oss</h2>
		<p class="text-justify">Detta yatzyspel är ett projektarbete på Newton Yrkeshögskola i Malmö inom ramen för agil systemutveckling i team</p>
		<p class="text-justify">Vi har använt SCRUM-metodik för att lösa uppgiften.</p>
		<p class="text-justify">I gruppen har Ramona Chantaf, Hampus Karlsson, Alexis Knöss, Conrad Letelier och Andreas Vettefors ingått.</p>
	</div>
</div>
`}
