function chat(){return `
<div class="holder">
<div id="chatHolder" >

<div class="menu">
			<a id="toggleChat" class="pull-right"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
		</div>
		
<div class="messages">
			<p>sdsaidjasldjaksdjalsdkasdkasdnalks,ndsajdas,dnasd,bas,xdsdkjskdgsakjdgkasdgka</p>
			<p>sdsaidjasldjaksdjalsdkasdkasdnalks,ndsajdas,dnasd,bas,xdsdkjskdgsakjdgkasdgka</p>
			<p>sdsaidjasldjaksdjalsdkasdkasdnalks,ndsajdas,dnasd,bas,xdsdkjskdgsakjdgkasdgka</p>
			<p>sdsaidjasldjaksdjalsdkasdkasdnalks,ndsajdas,dnasd,bas,xdsdkjskdgsakjdgkasdgka</p>
				<p>sdsaidjasldjaksdjalsdkasdkasdnalks,ndsajdas,dnasd,bas,xdsdkjskdgsakjdgkasdgka</p>
				<p>sdsaidjasldjaksdjalsdkasdkasdnalks,ndsajdas,dnasd,bas,xdsdkjskdgsakjdgkasdgka</p>

		</div>
	<div class="chat-box-footer">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Skriv ditt meddelande...">
				<span  class="glyphicon glyphicon-circle-arrow-right pull-right" aria-hidden="true"></span>
			</div>
		</div>
		</div>
		</div>
`}