function chat(){return `
<div id="chat">
	<div class="FixedHeightContainer">
		<h2 class="chatTitle">Chatta med dina motståndare</h2>
		<div class="Content">
			<div class="talk-bubble player1">
				<div class="talktext">
					<p class="chatParagraph">Hej hej hur är det?</p>
				</div>
			</div>
			<div class="talk-bubble player2">
				<div class="talktext">
					<p class="chatParagraph">Hi guys dasfsfasfaffkhaskfhakfhjakhfaksfhjksbdkjasbfkjasbfakjbfakbfkabfkjdbfakbfkadf</p>
				</div>
			</div>
			<div class="talk-bubble player3">
				<div class="talktext">
					<p class="chatParagraph">tjena</p>
				</div>
			</div>
			<div class="talk-bubble player4">
				<div class="talktext">
					<p class="chatParagraph">Hej</p>
				</div>
			</div>
		</div>
		<div class="inputContainer">
			<input type="text" class="form-control" placeholder="Skriv ditt meddelande...">
			<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
		</div>
	</div>
</div>
`}