function confirmEndGame(){return `
<!-- Modal -->
<div class="modal fade" id="confirmEnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="popup3 modal-dialog" role="document">
		<div class="popup-content3 modal-content">
			<div class="modal-header">
				<h4 class="modal-title3" id="myModalLabel">Bekräfta</h4>
			</div>
			<div class="popup-text3 modal-body">
				<p class="text-center">Spelet kommer att avslutas.</p>
				<p class="text-center">Är du säkert att du vill tillbaka till startsidan?</p>
			</div>
			<div class="modal-footer">
				<a href="/" class="btn btn-default">Ja</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
			</div>
		</div>
	</div>
</div>

` }
