function inputField(){return `
<div class="well containerInput" > 
<div id="inputField" class="name-input">
	<div class="input_fields_wrap">
		<h2 class="header1">Spela lokalt</h2>
		<h2 class="header2">Lägg till spelare </h2>
		<p class="paragraph">Max antal spelare : 4 personer</p>
		<form class="input-append">

			<div class="field">
				<input class="input inputControl" id="field1" name="prof1" type="text" /><span class="glyphicon glyphicon-plus-sign addField" aria-hidden="true"></span></div>
		</form>
	</div>
	<button type="button" class="btn btn-info">Starta spelet</button>
</div>
</div>
`}