function inputFieldOnline(){return `
<div class="well containerInput2">
	<div id="inputFieldOnline" class="name-input">
		<div class="input_fields_wrap">
			<h1 class="header1Online">Spela online </h1>
			<p class="paragraph3">Max mot 3 andra spelare </p>
			<form class="input-online">

				<div class="field-online">
					<p class="playerName">Användarnamn: </p>
					<input class="inputOnline inputControl" id="fieldOnline" name="onlineInput" type="text" />
				</div>
			</form>
		</div>
		<button type="button" class="btn btn-online">Starta</button>
	</div>
</div>
`}
