function navBar(){return `
<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" id="brand" href="#"><img src="img/yatzy_text.png"></a>
    </div>

    <div class="collapse navbar-collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
				<li><a data-toggle="modal" data-target="#new">Regler</a></li>
        <li><a data-toggle="modal" data-target="#highscore">High score</a></li>
        <li id="about"><a>Om oss</a></li>
      </ul>

    </div>
  </div>
</nav>
`}
