function onlineChat(){return `
<div id="onlineChat">
	<div id="chatHolder" class="well">

		<div class="menu">
			<a><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
		</div>
		<div class="messages">
		</div>
		<div class="chat-box-footer">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Skriv ditt meddelande...">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button">SKICKA</button>
				</span>
			</div>
		</div>
	</div>
	`}
