<!--Template för regler popup-->

function rulesPopUp(){return `
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Regler
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="popup2" class="modal-dialog" role="document">
	    <div class="popup-content2" class="modal-content">
	      <div class="modal-header">        
	        <h4 class="modal-title2" id="myModalLabel">Yatzy regler</h4>
	      </div>
	      <div class="popup-text2" class="modal-body">
	            

I klassisk Yatzy används 5 tärningar, deltagarantalet är obegränsat och den som har uppnått den högsta poängsumman i slutet vinner.<br><br>

<b>Spelets gång</b>:<br>
Alla slår varsin tärning. Spelaren som slår högst får börja, sedan roterar man medurs. Varje gång det blir en spelares tur har han rätt till högst 3 tärningskast. För var slag avgör spelaren vilka tärningar denne vill spara till nästa kast och vilka tärningar denne vill kasta om. Efter alla kast förs poängsumman in intill en av rubrikerna. Ordningen på protokollet behöver ej följas.
<br>
<br>
<b>Första kastet ger</b>: 6 6 3 6 6
<br>
<br>
Spelaren låter sexorna ligga kvar och kastar om trean. Trean blir en fyra och spelaren kastar det tredje och sista slaget som blir en femma. Resultatet blir FYRTAL eller SEXOR med poängsumman 24, som antecknas vid rubriken som väljs. Skulle det sista kastet ha blivit en sexa hade spelaren fått Yatzy.
<br>
<br>
Om spelaren redan har FYRTAL och SEXOR skrivs poängen av hela slaget in vid CHANS. Spelaren kan också välja att stryka något kast från protokollet.
<br>
<br>
<b>Bonus</b><br>
Protokollsrubrikerna får endast användas en gång. Om poängsumma är på 63 poäng eller mer på protokollets övre halva utgår en bonus om 50 poäng. Maximal summa på övre halvan är 105.
<br>
<br>
<b>Nedre delen av protokollet</b><br>
<b>ETT PAR</b>: Ex. 5-3-3-2-1, 2 st 3:or<br>
<b>TVÅ PAR</b>: Ex. 5-3-3-4-4, 2 st 3:or, 2 st 4:or<br>
<b>TRETAL</b>: Ex. 5-3-3-3-2, 3 st 3:or<br>
<b>FYRTAL</b>: Ex. 5-4-4-4-4, 4 st 4:or<br>
<b>LITEN STRAIGHT</b>: Ex. 1-2-3-4-5<br>
<b>STOR STRAIGHT</b>: Ex. 2-3-4-5-6<br>
<b>KÅK</b>: Ex.3-5-5-3-3, 3 st 3:or, 2 st 5:or<br>
<b>CHANS</b>: Alla de fem tärningarnas ögontal räknas och summan av dessa förs in på protokollet. Den här rubriken används när ingen annan lämplig rubrik är ledig.<br>
<b>YATZY</b>: Alla de fem tärningarna visar lika och då ger Yatzy alltid 50 poäng.

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
	      </div>
	    </div>
	  </div>
	</div>
` }