<!--Template för vinnar popup-->

function winnerTemplate(){return `

	<!-- Modal -->

	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="popup" class="modal-dialog" role="document">
	    <div class="popup-content" class="modal-content">
	      <div class="modal-header">        
	        <h4 class="modal-title" id="myModalLabel">Yay!</h4>
	      </div>
	      <div class="popup-text" class="modal-body">

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modal-button" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>
` 