
<!--Formuläret för Yatzy-->


function yatzyformular(){return `
<table id=scoretabel border=1 cellspacing=0 width=300>
	<tr id=greyField>
		<td height="25" id=tdSpecialField>Deltagare</td>
		<td id=tdsmallerField id=bonusField class="possClass">&nbsp;</td>
	</tr>
	<tr>
		<td id=1 height="25">Ettor</td>
		<td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='Silver'" onMouseOut="this.style.backgroundColor = 'White'">&nbsp;</td>
	</tr>
	<tr>
    	<td id=2 height="25">Tvåor</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td id=3 height="25">Treor</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td id=4 height="25">Fyror</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td id=5 height="25">Femmor</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td id= 6 height="25">Sexor</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr id=greyField>
    	<td height="25" id=tdSpecialField>Bonus</td>
        <td id=tdsmallerField class="possClass bonus" onClick="addToScore(this)"></td>
    </tr>
    <tr id=greyField>
    	<td height="25" id=tdSpecialField>Summa</td>
        <td id=tdsmallerField id=bonusField class="possClass summa" onClick="addToScore(this)">&nbsp;</td>
    </tr>
    <tr>
    	<td height="25">Ett Par</td>
        <td width=20% class="possClass" onClick="addToScoreAdvanced(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td height="25">Två Par</td>
        <td id=tdsmallerField class="possClass" onClick="addToScoreAdvanced(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td height="25">Triss</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td height="25">Fyrtal</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td height="25">Liten Stege</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td height="25">Stor Stege</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td height="25">Kåk</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td height="25">Chans</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr>
    	<td height="25">Yatzy</td>
        <td id=tdsmallerField class="possClass" onClick="addToScore(this)" onMouseover="this.style.backgroundColor='silver'" onMouseOut="this.style.backgroundColor='white'">&nbsp;</td>
    </tr>
    <tr id=greyField>
    	<td height="25" id=tdSpecialField>Total</td>
        <td id=tdsmallerField id=bonusField class="possClass total" onClick="addToScore(this)">&nbsp;</td>
    </tr>
` }